*{
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
}
.model1 {
	width: 100%;
	padding-top: 118.66667%;
    background-image: url(../images/hb-bg1.png);
    background-size: 100% 100%;
}